@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';

:root {
    --background: #ffffff;
    --foreground:#ffffff;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-inter);
    --color-primary: #5f34ec;
}
@layer utilities {
    .container-custom {
        @apply max-w-[80rem] mx-auto;
    }
    .bg-primary {
        background: theme(--color-primary);
    }
}


body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans), sans-serif;
    background: linear-gradient(#4177da,#d99bcf) fixed;
}

